body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}
.center-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.center-image {
    max-width: 150px;
    height: auto;
}
span {
    width: 30%;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #28a745;
    background-color: #e0e0e0;
    display: inline-block;
    margin-top: 20px;
}
h3 {
    font-size: 40px;
    color: #ff6619;
    margin-top: 50px;
    text-shadow: 2px 2px 5px #aaaaaa;
}
nav {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.navbar h1 {
    font-size: 28px;
    color: #f5f5f5;
    text-shadow: 1px 1px 4px #000000;
}
.navbar-brand h5 {
    font-size: 18px;
    color: #ffffff;
}
.form-group {
    width: 50%;
    margin: 0 auto;
}
.form-group label {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}
.form-control {
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #28a745;
    text-align: center;
}
.form-control:focus {
    background-color: #d4f7d4;
    border-color: #32cd32;
    box-shadow: 0 0 5px #32cd32;
}
.btn-success {
    background-color: #28a745;
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    color: #d4f7d4;
}
.btn-success:active, .btn-sucess:focus {
    background-color: #32cd32;
    border-color: #32cd32;
}
.btn-success:hover {
    background-color: #218838;
}
.alert {
    font-size: 18px;
    margin-top: 20px;
}
footer {
    background-color: #333333;
    color: #99998d;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}